h1 {
     color:rgb(8, 8, 73);
     text-align: center;
}

/* button.new {
     background-color: rgb(193, 238, 127);
   
}

button.edit {
     background-color: rgb(165, 165, 238);
}

button.delete {
     background-color: rgb(228, 138, 138);
}
*/

div.daktarai {
     margin-left: 40px;
    
}

.new {
     display: block;
     margin-right: auto;
     margin-left: auto;
     width: 50%;
   }