.spal {
    background-color: grey;
}

.didelis {
    height: 200px;
}

.mazas {
    height: 130px;
}

.didesnis {
    height: 160px;
}

.maziukai {
    height: 105px;
}

.plokscias {
    height: 60px;
}

.headeris {
    height: 80px ; 
}