html, body {
    height: 100%;

}
/*----------INDEX---------------------------*/
.container.main {
  height: 100%; 
  width: 100%;
  margin: 0;
  padding: 0;
}

/*----------HEADER VIDEO--------------------*/

header.main {
  position: relative;
  background-color: black;
  height: 100%;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header.main video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header.main .container {
  position: relative;
  z-index: 2;
}

header.main .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.0;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header.main {
    background: url("../IMG/eberhard-grossgasteiger-NvesrDbsrL4-unsplash.jpg") black no-repeat center center scroll;
  }
  header.main video {
    display: none;
  }
}


/*----------HEADER-------------------------*/
/*--main class for index.php*/
h1.main {
    color: rgb(99, 7, 79);
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
}

p.main {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center; 
    font-size: 20px;
}

nav.main {
    background-color: transparent;
    border: none;
    z-index: 3; 
}

a.register {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 30%;   
   background-color: rgba(99, 7, 79, 0.8);
   border-color: rgb(48, 2, 38);
   font-size: 18px;

  }

a.log, button.log, .register {
    background-color: rgba(99, 7, 79, 0.8);
    border-color: rgb(48, 2, 38);
    color:white;
}

#loginErrors {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: -20px;
}

a.contactMain {
  font-size:18px;
  color:rgb(48, 2, 38);
  font-weight: bold;
}

/*---------------CONTACT-------------------------*/

h3.contact {
    color: rgb(99, 7, 79);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding-top: 1%;
}

p.contact {
  text-align: center; 
  font-size: 18px;
}

form.contact label {
  color: rgb(99, 7, 79);
}

form.contact button {
  background-color: rgba(99, 7, 79, 0.8);
  border-color: rgb(48, 2, 38);
  font-size: 14px;
}

/*---------------FOOTER-------------------------*/

footer {
  margin-top: 2%;
  background-color: rgb(51, 42, 49);
  color: white;
}

.copyright {
  background-color: rgb(24, 19, 23);
}

/*--------------REGISTRATION-----------------*/

/*---------------USER-------------------------*/

.userWindow {
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
}

nav.user {
  background-color: rgb(99, 7, 79);
  color:white;
}

.startCha {
  background-color: rgba(99, 7, 79, 0.8);
  border-color: rgb(48, 2, 38);
  font-size: 18px;
}

.card {
  border: 1px solid black;
  height: 300px;

}

.card.active {
  background-image: url(../IMG/page-user/active.jpg);
}

.card.relaxation {
  background-image: url(../IMG/page-user/relaxation1.jpg);
  }

.card.random {
  background-image: url(../IMG/page-user/random.jpg);
  }


/*-----------------------ADMIN PANEL-------------------------------*/ 

     /* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  a.Active {
    background-color: rgba(76, 22, 163, 0.795);
    border-color: rgb(28, 4, 59);
    color:white;
  }

  a.Relaxation {
    background-color: rgba(30, 99, 93, 0.795);
    border-color: rgb(3, 46, 42);
    color:white;
  }

  a.Random {
    background-color: rgba(150, 33, 101, 0.795);
    border-color: rgb(39, 2, 13);
    color:white;
  }
  


  /* LOGIN TO ADMIN PANEL*/

  .loginAdmin, .registerForm {
    background-image: url(../IMG/eberhard-grossgasteiger-NvesrDbsrL4-unsplash.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
  }

  .loginFooter {
    background-image: url(../IMG/grass.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    z-index: 2;
  }