body {
  background-color: #ce820f;
}

h1 {
  font-size: 36px;
  color: black;
  background: #d3c15d;
}

p {
  font-size: 22px;
}

section {
  font-family: "Time new roman", serif;
}

section h2 {
  font-family: "Ariel", sans-serif;
}

section .big {
  font-size: 60px;
}
