//
$mainColorDark: #c69e00;
$mainColorLight: #c90;
$textTitle: 36px;
$textSecond: 22px;

body {
     background-color: $mainColorDark;
}

h1 {
     font-size: $textTitle;
     color: black;
     background-color: $mainColorLight;
}

p {
     font-size: $textSecond;
}

section {
     font-family: 'Times New Roman', Times, serif;
     h2 {
          font-family: Arial, Helvetica, sans-serif;
     }
     .big {
          font-size: 60px;
     }
}