
* {   margin: 0px;   padding: 0px; }
/* h1 {align:center;
background-image: url("img/akvile2.jpg");

} */

.container{ margin:auto width:auto;
  padding-right: 0;
      padding-left: 0; }

/*spalva pasirinktam punktui*/
a{
  color: black;
}
a:hover {
        color: #F35211;
      }
.nav-link{
  color: black;
}
/* .fixed{
  position: fixed;
  top: 2px;
  } */
.btn-lg{
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/*naudoju index failo placiajam stulpeliui*/
.pagr{
    height: 525px;
    align-content: center;
}
/*naudoju pagrindinio puslapio uzrasui*/
.pradinish1{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #F35211;
}
.pradinish2 {
    font-size: 20px;
     font-family: "Comic Sans MS", italic, sans-serif;
    color: black;
}
/* Klase index failo nuotraukai*/
.responsive {
  width: 100%;
  height: auto;
  max-height: 700px
}

.pasirodymaih2{
  height: 300px;
  width: 100%;
  background-image: url('../img/akvile7.jpg');

}
.galerijah2{

 /* margin-left: 100px; */
   height: 300px;
 width: 100%;
 background-image: url('../img/akvile8.jpg');
}
.apieh2{
  height: 280px;
  width: 100%;
  color: #F35211;
  background-image: url('../img/akvile-kolez3.jpg');

}
.kontaktaih1{
  color: #F35211;
}

.apacia{

	height: 80px;
    margin-top: 10px;
  align-content: center;
}
/* .pasirod{
  height: 600px;

} */

.apie{


}
.apiespauda{
  margin-left: 5px;
  margin-right: 5px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: none;
  /* background-color: #f1f1f1; */
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  /* border-bottom: 5px solid red; */
  outline: none;
  cursor: pointer;
  padding: 8px 10px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #F9F9F9;
}

/* Create an active/current tablink class */
.tab button.active {
  /* background-color: #EAECEE; */
  border-bottom: 5px solid #F35211;
}

/* Style the tab content */
/* .tabcontent {
  display: none;
  padding: 6px 12px;
  border: none;
  border-top: none;
} */
