
* {   margin: 0px;   padding: 0px; }
/* h1 {align:center;
background-image: url("img/akvile2.jpg");

} */

.container{ margin:auto width:auto;
  padding-right: 0;
      padding-left: 0; }

/*naudoju index failo placiajam stulpeliui*/
.pagr{
    height: 525px;
    align-content: center;
}
/*naudoju pagrindinio puslapio uzrasui*/
.pradinish1{
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.pradinish2 {
    font-size: 20px;
     font-family: "Comic Sans MS", italic, sans-serif;
    color: grey;
}
/* Klase index failo nuotraukai*/
.responsive {
  width: 100%;
  height: auto;
  max-height: 700px
}

.pasirodymaih2{
  height: 300px;
  width: 100%;
  background-image: url('../img/akvile-kolez2.jpg');

}

.apieh2{
  height: 300px;
  width: 100%;
  background-image: url('../img/akvile-kolez1.jpg');

}
.galerijah2{

 /* margin-left: 100px; */
   height: 260px;
 width: 100%;
 background-image: url('../img/koncertusales.jpg');
}

.apacia{

	height: 80px;
    margin-top: 10px;
  align-content: center;
}
.pasirod{
  height: 600px;

}

.apie{
  height: 500px;

}
.apiespauda{
  margin-left: 5px;
  margin-right: 5px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
